.hero-section {
    .container {
        margin-bottom: 64px;

        @include media ('>=1024px') {
            margin-bottom: 128px;
        }
    }

    h2 {
        font-size: 23px;
        line-height: 38px;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
    }
}

.hero-title {
    margin-bottom: 32px;

    @include media ('>=1024px') {
        margin-bottom: 40px;
    }
}

.hero-image {
    margin-bottom: 48px;

    @include media ('>=1024px') {
        margin-bottom: 50px;
    }
}
