*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
a {
    font-family: $roboto;
    color: $dark-blue;
    margin: 0;
}

.container {
    max-width: 1155px;
    width: 100%;
    margin: 0 auto;
}
