* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px 0;
}

.container .img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.container .grid_item-1 {
  grid-area: first;
}

.container .grid-item-2 {
  grid-area: second;
}

.container .grid-item-3 {
  grid-area: third;
}

.container .grid-item-4 {
  grid-area: fourth;
}

.container .grid-item-5 {
  grid-area: fifth;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    gap: 10px;
    grid-template-areas: "first second" "third third" "third third" "fourth fifth";
  }

  .container .img {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    gap: 10px;
    grid-template-areas: "third third first second" "third third fourth fifth";
  }
}