$blue: #5474FD;
$dark-blue: #496BFE;
$white: #fff;
$whiter-white: #FEFEFE;
$grey: #999999;
$opacity-white: #E8E8E8;
$pink: #FF6363;
$light-blue: #00A2FF;
$black-background: #333333;
$opacity-black: rgb(35 35 35 / 90%);
$black: #232323;
$aleo: 'Aleo', sans-serif;
$josefin: 'Josefin', sans-serif;
