* {
    box-sizing: border-box;
}

div {
    padding: 0 10px;
}

img {
    max-width: 100%;
}

.header-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
}

.filter-list {
    list-style: none;
    margin-block-start: 0;
}

.filter-list li {
    font-family: 'Oswald', sans-serif;
}

.filter-list li:hover {
    color: tomato;
}

.filter-list li:active {
    color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.product-block {
    display: flex;
    padding: 10px;
    margin: 0 0 30px;
    width: 50%;
    padding: 20px 40px;
}			

.img-holder {
    padding: 20px;
    place-items: center;
	border: 8px solid;
    border-radius: 10px;
    border-image: linear-gradient(45deg, rgb(229, 233, 232), rgb(114, 122, 101)) 1;
}

.img-holder:hover {
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.info,
.info-prod {
    font-family: 'Charis SIL', serif;
}

.modal-js {
    opacity: 0;
    visibility: hidden;
}

.modal-js.active {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 800px;
    height: 800px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    color: #eceeef;
}
.close-btn {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #eceeef;
    text-shadow: 0 1px 0 #d3d5d6;
    opacity: .5;
    text-decoration: none;
}

.close-btn:focus, .close-btn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
