@font-face {
    font-family: 'Lato';
    src: url('./src/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('./src/fonts/lato-regular-webfont.woff') format('woff'),
         url('./src/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('./src/fonts/lato-regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}